* {
   
    
    box-sizing: border-box;
}

/* table css start */
table th,
tr,
td {
    border: 1px solid green
}

table {
    margin: auto;
}

/* table css end */
/* one css start */
#one {
    background-color: #273a71;
    width: 500px;
    margin: auto;
}

.container {
    max-width: 400px;
    margin: auto;
}

#one form input {
    width: 92%;
    padding: 14px;
    margin: 7px;
    color: black;
    font-weight: 250;
    background-color: #ffffff;
    border: none;
    outline: none;
}

#two button {
    margin-right: 23px;
    width: 250px;
    height: 53px;
    background-color: #5b7bd7;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 45px;
    color:#ffffff;
     text-align: center;
     cursor: pointer;
   


}
#two {
    background-color: #273a71;
    width: 500px;
    margin:auto;
    align-items: center;
    text-align: center;
}
/* one css end */
